@charset "utf-8";

// 默认样式
@import "./normalize.scss";
@import "./variable.scss";

.page {
  min-height: 100vh;
}

/***************************************************************/

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

$color-row-line: #ccc;
$color-col-line: #ccc;

body,
html {
  -webkit-tap-highlight-color: transparent;
}

body {
  font-size: 24px;
  background-color: #000;
  overflow: hidden;
}
// 微信长按hotfix
.wx-callout {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.fix-to-home {
  position: fixed;
  width: 56px;
  height: 56px;
  right: 26px;
  bottom: 26px;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  color: #fff;
  font-size: 14px;
  z-index: 100;
  text-align: center;
  box-sizing: border-box;
  padding: 12px 10px;
  line-height: 16px;
}
.clear-fix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}
// 隐藏滚动条
.hidden-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
  // background-color: transparent;
}
.none {
  display: none;
}
.no-events {
  pointer-events: none;
}
// 广告图
.e-e {
  overflow: hidden;
  font-size: 0;
  img {
    width: 100%;
    object-fit: scale-down;
  }
}

// 无图img隐藏
img:not([src]),
img[src=""] {
  visibility: hidden;
}

.border-top-1px,
.border-right-1px,
.border-bottom-1px,
.border-left-1px {
  position: relative;
  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    transform-origin: 0 0;
  }
}
.border-top-1px {
  &::before {
    border-top: 1px solid $color-row-line;
    left: 0;
    top: 0;
    width: 100%;
    transform-origin: 0 top;
  }
}
.border-right-1px {
  &::after {
    border-right: 1px solid $color-col-line;
    top: 0;
    right: 0;
    height: 100%;
    transform-origin: right 0;
  }
}
.border-bottom-1px {
  &::after {
    border-bottom: 1px solid $color-row-line;
    left: 0;
    bottom: 0;
    width: 100%;
    transform-origin: 0 bottom;
  }
}
.border-left-1px {
  &::before {
    border-left: 1px solid $color-col-line;
    top: 0;
    left: 0;
    height: 100%;
    transform-origin: left 0;
  }
}

@media (min-resolution: 2dppx) {
  .border-top-1px {
    &::before {
      width: 200%;
      transform: scale(0.5) translateZ(0);
    }
  }
  .border-right-1px {
    &::after {
      height: 200%;
      transform: scale(0.5) translateZ(0);
    }
  }

  .border-bottom-1px {
    &::after {
      width: 200%;
      transform: scale(0.5) translateZ(0);
    }
  }
  .border-left-1px {
    &::before {
      height: 200%;
      transform: scale(0.5) translateZ(0);
    }
  }
}
@media (min-resolution: 3dppx) {
  .border-top-1px {
    &::before {
      width: 300%;
      transform: scale(0.333) translateZ(0);
    }
  }
  .border-right-1px {
    &::after {
      height: 300%;
      transform: scale(0.333) translateZ(0);
    }
  }
  .border-bottom-1px {
    &::after {
      width: 300%;
      transform: scale(0.333) translateZ(0);
    }
  }
  .border-left-1px {
    &::before {
      height: 300%;
      transform: scale(0.333) translateZ(0);
    }
  }
}
