 .page__index {
    .main-header {
        padding: 488px 21px 10px;

        // 用户信息
        .user-info {
            display: flex;
            box-sizing: border-box;
            padding: 17px 18px;
            width: 333px;
            height: 88px;
            background: url(../../../src/assets/img/user_info.png) no-repeat center;
            background-size: 100%;

            // 用户头像
            img {
                display: inline-block;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background: url(../../assets/img/user_image.png) no-repeat;
                background-size: 100%;
            }

            .user-message {
                flex: 1;
                margin-left: 11px;
                text-align: left;

                h3 {
                    margin-top: 1.5px;
                    font-size: 16px;
                    font-family: PingFangSC-Medium,PingFang SC;
                    font-weight: bold;
                    color: #FFFFFF;
                    line-height: 22.5px;
                    letter-spacing: 1.5px;
                    text-align: left;
                }

                p {
                    margin-top: 5.5px;
                    line-height: 18px;
                    font-size: 13px;
                    font-family:PingFangSC-Regular,PingFang SC;
                    font-weight: normal;
                    color: #AD87FF;
                    letter-spacing: 1px;
                }
            }
        }

        // 活动相关
        .activity-about {
            margin-top: 27.5px;

            .end-time {
                font-size: 15px;
                font-family: PingFangSC-Regular,PingFang SC;
                line-height: 21px;
                font-weight: normal;
                color: #FFFFFF;
                letter-spacing: 1.5px;
                text-align: center;
            }

            .btn {
                margin: 21px 0;
                display: flex;
                flex-direction: row;
                justify-content: center;

                .inviate {
                    float: left;
                    width: 161px;
                    height: 50px;
                    background: url(../../../src/assets/img/inviate.png) no-repeat center;
                    background-size: 100%;
                }

                .help {
                    width: 161px;
                    height: 50px;
                    background: url(../../../src/assets/img/help.png) no-repeat center;
                    background-size: 100%;
                }
            }
        }
    }
}
