// 公共样式
.main-cont {
    width: 100%;
    padding: 0 0 35px 0;
    box-sizing: border-box;
    overflow: hidden;

    .form-box {
        position: relative;
        padding-bottom: 24px;
        border-radius: 20px;

        .inter-user-name {
            .head-img {
                border-radius: 50%;
                overflow: hidden;
                border: 2px solid #ffffff;

                img {
                    widows: 100%;
                    height: 100%;
                }
            }

        }

        .inter-form {
            box-sizing: border-box;
            padding-top: 15px;

            .input-box {
                width: 100%;
                border-radius: 8px;
                overflow: hidden;
                margin-bottom: 20px;
                position: relative;

                input {
                    width: 100%;
                    padding: 13px;
                    font-size: 15px;
                    color: #ffffff;
                    background: none;
                    -webkit-appearance: none;
                    /*去除阴影边框*/
                    outline: none;
                    outline-color: transparent;
                    border: none;
                    border-style: none;
                    box-shadow: none;
                    outline-style: none;
                    outline-width: 0px;
                    text-shadow: none;
                    -webkit-appearance: none;
                    -webkit-user-select: text;
                    box-shadow: none;

                    &::placeholder {
                        font-size: 17px;
                        opacity: 1;
                        -webkit-opacity: 1;
                        color: #CE6464;
                    }
                }

                .SendCode {
                    position: absolute;
                    right: 13px;
                    top: 50%;
                    transform: translate(0, -50%);
                    font-size: 15px;
                    color: #FFE3B6;
                    padding-left: 12px;

                    &::before {
                        content: '';
                        width: 1px;
                        height: 36px;
                        background: #FF8C96;
                        position: absolute;
                        left: 0;
                        top: 50%;
                        transform: translate(0, -50%);
                    }
                }
            }
        }

        .ReceivePrize {
            width: 170px;
            height: 60px;
            background: url("../assets/s1/button.png") 0px 0px no-repeat;
            background-size: 170px 60px;
            margin: 20px auto 0;
        }

    }

    .getSuccess {
        width: 295px;
        height: 192px;
        border-radius: 8px;
        background: #ffffff;
        text-align: center;
        font-family: "PingFangSC-Medium";
        position: fixed;
        z-index: 500;
        top: 160px;
        left: 50%;
        margin-left: -147px;

        .SuccessTitle {
            height: 25px;
            line-height: 25px;
            font-size: 18px;
            color: #333333;
            margin: 20px 0px 15px 0px;
            text-align: center;
            font-weight: 500;
        }

        .SucceContent {
            font-size: 15px;
            color: #666666;
            line-height: 21px;
            text-align: center;
        }

        .DownApp {
            width: 255px;
            height: 50px;
            line-height: 50px;
            text-align: center;
            background: #f18d00;
            color: #ffffff;
            border-radius: 25px;
            font-size: 18px;
            font-weight: 500;
            margin: 20px auto 20px;
            display: block;
        }

        img {
            width: 65px;
            height: 65px;
            position: absolute;
            left: 50%;
            margin-left: -32px;
            bottom: -85px;
        }
    }

    .fixed {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background: #000;
        opacity: .6;
        z-index: 300;
    }

    .ShowToast {
        width: 225px;
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 34;
        border-radius: 8px;
        background: rgba(0, 0, 0, 0.85);
        text-align: center;
        padding: 15px 20px;
        font-size: 15px;
        color: #FFF;
        font-weight: 400;
        font-family: PingFangSC-Regular;
        letter-spacing: 1px;
    }
}

// 主题1 样式
.skin1 {
    background: #E04D4D url("../assets/s1/banner.jpg") 0px 0px no-repeat;
    background-size: 100%;

    .form-box {
        background: url("../assets/s1/form-bg.png") 0px 0px no-repeat;
        background-size: 100%;
        margin-top: 466px;
        padding: 128px 37px 72px 37px;

        .inter-user-name {
            display: flex;
            justify-self: flex-start;

            .head-img {
                width: 57px;
                height: 57px;
                border-radius: 50%;
                overflow: hidden;
                border: 2px solid #ffffff;

                img {
                    widows: 100%;
                    height: 100%;
                }
            }

            .head-info-box {
                padding-left: 9px;

                h2 {
                    font-size: 20px;
                    color: #ffffff;
                    font-weight: bold;
                    line-height: 28px;
                }

                p {
                    padding-top: 6px;
                    font-size: 15px;
                    color: #ffffff;
                    font-weight: bold;
                    line-height: 21px;
                    opacity: 0.57;
                }
            }
        }

        .inter-form {
            box-sizing: border-box;
            padding-top: 15px;

            .input-box {
                width: 100%;
                border: 2px solid #FF8C96;
                border-radius: 8px;
                overflow: hidden;
                margin-bottom: 20px;
                position: relative;
                box-shadow: 0px 0px 26px 0px #FF497F;
                background: #920D0D;

                input {
                    width: 100%;
                    padding: 13px;
                    font-size: 15px;
                    color: #ffffff;
                    background: none;
                    -webkit-appearance: none;
                    /*去除阴影边框*/
                    outline: none;
                    outline-color: transparent;
                    border: none;
                    border-style: none;
                    box-shadow: none;
                    outline-style: none;
                    outline-width: 0px;
                    text-shadow: none;
                    -webkit-appearance: none;
                    -webkit-user-select: text;
                    box-shadow: none;

                    &::placeholder {
                        font-size: 17px;
                        opacity: 1;
                        -webkit-opacity: 1;
                        color: #CE6464;
                    }
                }

                .SendCode {
                    position: absolute;
                    right: 13px;
                    top: 50%;
                    transform: translate(0, -50%);
                    font-size: 15px;
                    color: #FFE3B6;
                    padding-left: 12px;

                    &::before {
                        content: '';
                        width: 1px;
                        height: 36px;
                        background: #FF8C96;
                        position: absolute;
                        left: 0;
                        top: 50%;
                        transform: translate(0, -50%);
                    }
                }
            }
        }

        .ReceivePrize {
            width: 170px;
            height: 60px;
            background: url("../assets/s1/button.png") 0px 0px no-repeat;
            background-size: 170px 60px;
            margin: 20px auto 0;
        }
    }

    .rules-box {
        padding: 40px 10px 0 10px;
    }

    .rules-cont {
        position: relative;
        background: linear-gradient(180deg, #FF6F6A 0%, #FF8D7B 100%);
        border-radius: 12px;
        padding: 17px 12px 13px 12px;
        box-shadow: 0px 2px 4px 0px #A70C0C;

        .active-rules-title {
            width: 202px;
            height: 53px;
            line-height: 53px;
            font-size: 18px;
            font-weight: bold;
            color: #ffffff;
            background: url("../assets/s1/title_rule.png") 0 0 no-repeat;
            background-size: 202px 53px;
            text-align: center;
            position: absolute;
            left: 50%;
            top: -16px;
            transform: translateX(-50%);
        }

        .rules-text {
            padding-top: 25px;

            h4 {
                font-size: 18px;
                color: #ffffff;
                font-weight: bold;
                line-height: 25px;
                padding-bottom: 6px;
            }

            p {
                padding-top: 6px;
                font-size: 14px;
                line-height: 20px;
                color: #ffffff;
                font-family: PingFangSC-Regular, PingFang SC;
            }
        }
    }
}

// 主题2 样式
.skin2 {
    background: #ef927b url("../assets/s2/banner.jpg") 0px 0px no-repeat;
    background-size: 100%;

    .form-box {
        background: url("../assets/s2/form-bg.png") 0px 0px no-repeat;
        background-size: 100%;
        background-color: #ffffff;
        margin: 186px 20px 0 20px;
        position: relative;
        padding: 137px 24px 24px 24px;

        .inter-user-name {
            position: absolute;
            left: 50%;
            top: -35px;
            transform: translateX(-50%);
            text-align: center;

            .head-img {
                width: 65px;
                height: 65px;
                border-radius: 50%;
                overflow: hidden;
                border: 2px solid #ffffff;
                margin: 0 auto;
                background: #ffffff;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .head-info-box {

                h2 {
                    font-size: 16px;
                    color: #802B2B;
                    font-weight: bold;
                    line-height: 26px;
                }

                p {
                    font-size: 16px;
                    color: #FF7356;
                    font-weight: bold;
                    line-height: 26px;
                }
            }
        }

        .inter-form {
            box-sizing: border-box;
            padding-top: 15px;

            .input-box {
                width: 100%;
                border: 2px solid #FFDFC1;
                border-radius: 8px;
                overflow: hidden;
                margin-bottom: 20px;
                position: relative;
                background: #ffffff;

                input {
                    width: 100%;
                    padding: 13px;
                    font-size: 15px;
                    color: #802B2B;
                    background: none;
                    -webkit-appearance: none;
                    /*去除阴影边框*/
                    outline: none;
                    outline-color: transparent;
                    border: none;
                    border-style: none;
                    box-shadow: none;
                    outline-style: none;
                    outline-width: 0px;
                    text-shadow: none;
                    -webkit-appearance: none;
                    -webkit-user-select: text;
                    box-shadow: none;

                    &::placeholder {
                        font-size: 17px;
                        opacity: 1;
                        -webkit-opacity: 1;
                        color: #FFE2C8;
                    }
                }

                .SendCode {
                    position: absolute;
                    right: 13px;
                    top: 50%;
                    transform: translate(0, -50%);
                    font-size: 17px;
                    font-weight: bold;
                    color: #FF9601;
                    padding-left: 12px;

                    &::before {
                        content: '';
                        width: 1px;
                        height: 16px;
                        background: #FFDFC1;
                        position: absolute;
                        left: 0;
                        top: 50%;
                        transform: translate(0, -50%);
                    }
                }
            }
        }

        .ReceivePrize {
            width: 100%;
            height: 68px;
            background: url("../assets/s2/button.png") 0px 0px no-repeat;
            background-size: 100%;
            margin: 0px auto 0;
        }
    }

    .rules-box {
        background: url('../assets/s2/dec.png') 0 0 no-repeat;
        background-size: 100%;
        margin-top: 10px;
        min-height: 200px;
    }

    .rules-cont {
        padding: 14px 27px 0 27px;

        .active-rules-title {
            text-indent: -9999px;
            width: 146px;
            height: 43px;
            background: url("../assets/s2/title_rule.png") 0 0 no-repeat;
            background-size: 146px 43px;
            margin: 0 auto;
        }

        .rules-text {

            p {
                padding-top: 6px;
                font-size: 12px;
                line-height: 20px;
                color: #ffffff;
                font-family: PingFangSC-Regular, PingFang SC;
            }
        }
    }
}